  pytest == 5.4.1
  numpy == 1.16.5
  matplotlib == 3.2.1
  PyQt5 == 5.14.2
  pandas == 1.0.3
  statsmodels == 0.11.1
  mysql-connector-python == 8.0.11
  sshtunnel == 0.1.5
  pip == 20.1.1
  wheel == 0.34.2
